$material-light-bg-dark-text-primary  : rgba(0,0,0,0.87) !default;
$material-light-bg-dark-text-secondary: rgba(0,0,0,0.54) !default;
$material-light-bg-dark-text-hints    : rgba(0,0,0,0.26) !default;

$material-dark-bg-light-text-primary  : rgba(255,255,255,1) !default;
$material-dark-bg-light-text-secondary: rgba(255,255,255,0.7) !default;
$material-dark-bg-light-text-hints    : rgba(255,255,255,0.3) !default;


$material-light                       : #ffffff !default;
$material-stable                      : #E0E0E0 !default;
$material-dark                        : #444444 !default;

$material-positive                    : #3F51B5 !default;
$material-positive-900                : #1A237E !default;
$material-positive-100                : #C5CAE9 !default;

$material-calm                        : #2196F3 !default;
$material-calm-900                    : #0D47A1 !default;
$material-calm-100                    : #BBDEFB !default;

$material-royal                       : #673AB7 !default;
$material-royal-900                   : #311B92 !default;
$material-royal-100                   : #D1C4E9 !default;

$material-balanced                    : #4CAF50 !default;
$material-balanced-900                : #1B5E20 !default;
$material-balanced-100                : #C8E6C9 !default;

$material-energized                   : #FF9800 !default;
$material-energized-900               : #E65100 !default;
$material-energized-100               : #FFE0B2 !default;

$material-assertive                   : #F44336 !default;
$material-assertive-900               : #B71C1C !default;
$material-assertive-100               : #FFCDD2 !default;


$material-base-font-family            : "RobotoDraft", "Roboto", "Helvetica Neue", "Segoe UI", sans-serif !default;
$material-base-font-size              : 14px !default;
$list-single-font-size                : 16px !default;


